<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CV by Nicholas Priambodo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h2 th:text="${visitor} == null ? 'This is my CV' : ${visitor} + ', I hope you interested to hire me'"/>
  <br/>
  <h2>Hi! My name is <br/>Nicholas Priambodo<br/>Birthdate August 18'th 1997 in Jakarta<br/>Jl. Samudra Oxford No 4A</h2>
  <br/>
  <h2>About Me</h2>
  <h3>Saya sedang mengambil gelar sarjana di Universitas Indonesia jurusan Ilmu Komputer, seorang yang ingin berkembang dan menyukai tantangan</h3>
  <br/>
  <h2>Formal Education</h2>
  <p>Jurusan Ilmu Komputer Universitas Indonesia</p>
  <p>(2016 - sekarang)</P>
  <br/>
  <p>SMAN 13 Jakarta</p>
  <p>(2013 - 2016)</P>
  <br/>
  <p>SMP ST. Fransiskus II / SD ST. Fransiskus III</p>
  <p>(2010 - 2013) / (2004 - 2010)</P>
</body>
</html>
